.backgroundDiv{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background: #dddddd;
	z-index: 100;
}
.dialogDiv{
	border-radius: 10px;
	background-color: #ffffff;
	z-index: 100;
	position: absolute;
}
.contentDiv{
	position: relative;
	height: 100%;
	width:100%;
	font-size: 14px;
	text-align: center;
}
.input{
	width: 99%;
	height: 25%;
	text-align: 18px;
	border: none;
	background:#eeeeee;
}
.button1{
	position: absolute;
	bottom: 0px;
	border: none;
	background-color: #ffffff;
	color: #000000;
	cursor: hand;
	height: 30%;
	border-bottom-left-radius: 10px;
}
.button2{
	position: absolute;
	bottom: 0px;
	border: none;
	width: 50%;
	height: 30%;
	background: red;
	cursor: hand;
	right: 0px;
	border-bottom-right-radius: 10px;
}