*{
	padding: 0;
	margin: 0;
	border: none;
}
i{
	font-style: normal;
}
.background{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: -1;
	transition: all 0.1s ease;
}
.green_circle{
	position: fixed;
	width: 100px;
	height: 100px;
	right: 20px;
	top: 30px;
	box-sizing: border-box;
	border-radius: 100%;
	background: #66FF00;
	border:3px solid green;
}
.green_circle_inner{
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	box-sizing: border-box;
	border: 6px solid green;
	background: #6f0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.green_blocks{
	position: absolute;
	width: 100px;
	height: 100px;
	left: -3px;
	top: -3px;
	border-radius: 100%;
	background: green;
	-webkit-clip-path: polygon(21.13% 0%, 78.87% 0%, 57.87% 37%, 42.13% 37%);
}
.green_blocks.left{
	transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
}
.green_blocks.right{
	transform: rotate(-120deg);
	-webkit-transform: rotate(-120deg);
}
#hourhand{
	width: 4px;
	height: 25px;
	background: #333;
	border-radius: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -100%);
	transform: translate(-50%, -100%);
	z-index: 5;
}
#minutehand{
	width: 3px;
	height: 37px;
	background: #111;
	border-radius: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -100%);
	transform: translate(-50%, -100%);
	z-index: 3;
}
#secondhand{
	width: 1px;
	height: 46px;
	background: #aaa;
	border-radius: 1px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -100%);
	transform: translate(-50%, -100%);
	z-index: 2;
}
.line{
	width: 2px;
	height: 43px;
	border-width: 6px 0 0 0;
	border-style: solid;
	border-color: #000;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -100%);
	transform: translate(-50%, -100%);
	z-index: 1;
}
.line_thin{
	width: 1px;
	height: 45px;
	border-width: 3px 0 0 0;
	border-style: solid;
	border-color: #000;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -100%);
	transform: translate(-50%, -100%);
	z-index: 0;
}
.digital_clock{
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	position: absolute;
	right: 20px;
	top: 0px;
}
.choose_background{
	width: 50px;
	height: 20px;
	background: #39f;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
	line-height: 20px;
	color: #333;
	position: absolute;
	left: 10px;
	top: 10px;
	cursor: pointer;
}
.background_window{
	width: 150px;
	height: 40px;
	background: #737373;
	border-radius: 5px;
	box-shadow: 2px 1px #111;
	position: absolute;
	left: 50%;
	top: 50%;
	transition: all 0.4s ease;
	-webkit-transform: translate(-50%, -1150%);
	transform: translate(-50%, -1150%);
	/*transform: translateY(-1000%);*/
}
.draw, .tile, .center{
	width: 50px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #666;
	border-radius: 5px;
	float: left;
	cursor: pointer;
	background: ;
	transition: all 0.3s ease;
}
.chosen{
	background: #69f;
}
.hide_background_window{
	height: 16px;
	width: 16px;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	color: red;
	position: absolute;
	top: -5px;
	right: -9px;
	cursor: pointer;
}
.sector{
	width: 100px;
	height: 100px;
	/*background: #36f;*/
	box-sizing: border-box;
	border-radius: 100%;
	position: absolute;
	right: 20px;
	top: 200px;
}
/*.sector.second{
	background: #36f;
	position: absolute;
	right: 20px;
	top: 400px;
	transition: all 0.5s linear;
	-webkit-clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0, 50% 50%);
}*/
.sector_uper{
	width: 70px;
	height: 70px;
	border-radius: 100%;
	background: #5f5f5f;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	z-index: 99;
	transition: all 0.3s ease;
	visibility: visible;
	opacity: 1;
}
.half_blue_left{
	position: absolute;
	width: 100px;
	height: 100px;
	background: #36f;
	border-radius: 100%;
	clip: rect(0px 50px 100px 0px);
	z-index: 2;
}
.half_white_left{
	position: absolute;
	width: 100px;
	height: 100px;
	background: #fff;
	border-radius: 100%;
	clip: rect(0px 50px 100px 0px);
	transform: rotate(0deg);
	/*transition: all 0.2s linear;*/
	z-index: 3;
}
.half_blue_right{
	position: absolute;
	width: 100px;
	height: 100px;
	background: #36f;
	border-radius: 100%;
	clip: rect(0px 100px 100px 50px);
	z-index: 5;
}
.half_white_right{
	position: absolute;
	width: 100px;
	height: 100px;
	background: #fff;
	border-radius: 100%;
	clip: rect(0px 100px 100px 50px);
	transform: rotate(0deg);
	/*transition: all 0.2s linear;*/
	z-index: 6;
}